<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- CSS and BOOTSTRAP only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="..//static/css/reset.css" />
    <link rel="stylesheet" href="..//static/css/main.css" />
    <title>Debet / Unibank</title>
  </head>

  <body>
    <!-- Header Area -->
    <header class="header-container">
      <div class="header">
        <div class="header-logo">
          <a href="../../template/index.html" class="logo">
            <img src="..//static/img/logo2.png" alt="Logo-Unibank" />
          </a>
          <div class="user-selection">
            <a href="#">Fərdi</a>
            &nbsp; / &nbsp;
            <a href="#">Biznes</a>
          </div>
        </div>
          <div class="header-info">
            <a href="#" class="phone">
              <i class="fas fa-phone-alt"></i>
              117
            </a>
            <a href="#" class="info-bank active-info">
              <i class="fas fa-sign-in-alt"></i>
              İnternet bankçılıq
            </a>

            <a href="#" class="info-bank deactive">
              <i class="fas fa-sign-in-alt"></i>
              Daxil ol
            </a>
            <!-- <a href="#" class="logo-menu">
              <i class="fas fa-bars"></i>
            </a> -->

              <!-- Collapse button -->
          <div class="ham-btn">
            <a class="navbar-toggler third-button" id="ham-btn" type="button">
            <div class="animated-icon3"><span></span><span></span><span></span></div>
            </a>
          </div>  


          </div>
      </div>

      <!-- Navbar Area -->
      <nav class="navbar">
        <ul class="navbar-menu">
          <li><a href="">Kartlar</a></li>
          <li><a href="../../Kenan/template/kreditler.html">Kreditlər</a></li>
          <li><a href="../../Ferhad/template/">Əmanətlər</a></li>
          <li><a href="">Köçürmələr</a></li>
          <li><a href="">Rəqəmsal bankçılıq</a></li>
          <li><a href="#" id="ham-btn-2">Əlavə xidmətlər</a></li>
        </ul>

        <div class="lang btn-group">
          <a type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            AZE
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">ENG</a>
            <a class="dropdown-item" href="#">RUS</a>
          </div>
        </div>
         
        <a type="button" class="search" id="search-nav"><i class="fas fa-search"></i></a>
  
      </nav>
    </header>

    <div class="search-form search-form-deactive" id="search-form">
      <div class="search-form--logo">
          <div class="form-logo">
            <img src="..//static/img/uniban-logo.png" alt="">
          </div>
          <div class="close">
            <i class="fas fa-times" id="search-close"></i>
          </div>
      </div>

      <div class="search-input">
        <input type="text" class="search-text" placeholder="Axtarış sözünü daxil edin">
        <label for="" class="search-label" >Axtarış sözünü daxil edin</label>
        <i class="fas fa-search search-icon"></i>
      </div>
     
  </div>


  <div class="ham-menu ham-deactive" id="ham-menu">
    <div class="ham-menu--logo">
        <div class="menu-logo">
          <img src="..//static/img/uniban-logo.png" alt="">
        </div>
        <div class="user-selection-modal">
          <a href="#">Fərdi</a>
          &nbsp; / &nbsp;
          <a href="#">Biznes</a>
        </div>
        <div class="header-info-modal">
            <a href="#" class="info-bank-modal">
              <i class="fas fa-sign-in-alt"></i>
              İnternet bankçılıq
            </a>
          </div>
        <div class="ham-close">
          <i class="fas fa-times" id="ham-close"></i>
        </div>
    </div>

    <div class="ham-container">
      <div class="ham-footer-menu">
        <div class="ham-footer-card">
          <h1>Kartlar</h1>
          <p>Debet</p>
          <p>Kredit</p>
          <p>Digər</p>
        </div>
        <div class="ham-footer-card">
          <h1>Kreditlər</h1>
          <p>Nağd</p>
          <p>Mikro</p>
          <p>İpoteka</p>
        </div>
        <div class="ham-footer-card">
          <h1>Əmanətlər</h1>
          <p>Müddətli</p>
          <p>Proqressiv</p>
          <p>Yığım</p>
          <p>Faizlər əvvəlcədən</p>
        </div>
        <div class="ham-footer-card">
          <h1>Köçürmələr</h1>
          <p>Ölkə xarici</p>
          <p>Ölkədaxili</p>
        </div>
        <div class="ham-footer-card">
          <h1>Rəqəmsal bankçılıq</h1>
          <p>uBank</p>
          <p>İnternet bankçılıq</p>
          <p>Albalı şəxsi kabinet</p>
          <p>Unimiles şəxsi kabinet</p>
          <p>Onlayn kredit ödənişi</p>
          <p>Onlayn kredit müraciəti</p>
          <p>Albalı Plus mobil əlavəsi</p>
        </div>
        <div class="ham-footer-card">
          <h1>Əlavə xidmətlər</h1>
          <p>Private Banking</p>
          <p>Hesablaşma-kassa xidmədi</p>
          <p>Depozit qutuları</p>
          <p>POS terminal / Smart kassa</p>
          <p>Onlayn ticarət (eCommerce)</p>
        </div>
      </div>
    </div>
     
    <div class="all-unibank--btn">
        <a class="unibank--btn"><i class="fas fa-map-marker-alt"></i>Xidmət şəbəkəsi</a>
        <a class="unibank--btn"><i class="fas fa-info-circle"></i>Bank haqqında</a>
        <a class="unibank--btn"><i class="fas fa-star"></i>Cashback</a>
        <a class="unibank--btn"><i class="fas fa-file-alt"></i>Tariflər</a>
        <a class="unibank--btn"><i class="fas fa-user-alt"></i>İnsan Resursları</a>
        <a class="unibank--btn"><i class="fas fa-comments"></i>Bankla əlaqə və təkliflər</a>
    </div>
   
</div>


    <section class="content-debet">

      <div class="card-nav">
        <ul class="card-nav--list">
          <li class="active-info "><a href="..//templates/debet.html">Debet</a></li>
          <li class="card-nav--active"><a href="#">Kredit</a></li>
          <li class="active-info"><a href="..//templates/more.html">Digər</a></li>
        </ul>
      </div>


      <div class="credit-card-header">
        <div class="credit-card-header--top">
          <div class="credit-card-images">
            <img src="..//static/img/credit-card.gif" alt="Albalı Kartlar">
          </div>
          <div class="credit-card-info">
            <h3>Albalı</h3>
            <p>
                Albalı - 4 bank məhsulunu (kredit, taksit kartı, depozit və debet kartı) özündə birləşdirən beynəlxalq kartdır.
            </p>
            <div class="credit-card--btn"> 
                <button class='order-btn'>Sifariş et</button>
                <a href="#">Ətraflı</a>
            </div>
          </div>
        </div>
        <div class="credit-card-header--bottom">
          <span > &nbsp; &nbsp; KARTIN ÜSTÜNLÜKLƏRİ &nbsp; &nbsp;  </span>
          <div class="credit-cards-skills">
            <div class="credit-card-skill">
                <i class="fas fa-arrow-down"></i>
                <p>Komissiyasız</p>
                <p>nağdlaşdırılma</p>
            </div>  
            
            <div class="credit-card-skill">
                <i class="fas fa-retweet"></i>
                <p>30%-dək</p>
                <p>cashback</p>
            </div>
             
            <div class="credit-card-skill">
                <i class="fas fa-percentage"></i>
                <p>Kartın qalığına</p> 
                <p> 3%-dək illik gəlir</p>
            </div>
            
            <div class="credit-card-skill">
                <i class="fas fa-mobile-alt"></i>
                <p>Pulsuz mobil</p> 
                <p>bankçılıq</p>
            </div>
              
          </div>
        </div>
      </div>
     
    </section>
  
  
<!-- ONLINE CHAT -->
    <div class="online-chat">
      <a   data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" ><i class="fab fa-facebook-messenger"></i></a>
     
    </div>

    <!-- FORM -->
    <div class="collapse collapseform" id="collapseExample">
      <div class="card card-body collapseformCard ">
        <form>
          <div class="form-group">
            <label for="unibankForm" class="text-font">Adınız:</label>
            <input type="text" class="form-control" id="unibankForm" placeholder="Ad">
          </div>
         
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-font">Email addresiniz:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email adres">
          </div>
          <div class="form-group">
            <label for="unibankForm" class="text-font">Əlaqə nömrəniz:</label>
            <input type="text" class="form-control" id="unibankForm" placeholder="Soyad">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1" class="text-font">Sual</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="submit" class="btn mt-2 btn-light text-unibank">Çata başlayın</button>
        </form>
      </div>
    </div>



    <footer class="footer-container">
      <div class="footer-menu">
        <div class="footer-card">
          <h1>Kartlar</h1>
          <p>Debet</p>
          <p>Kredit</p>
          <p>Digər</p>
        </div>
        <div class="footer-card">
          <h1>Kreditlər</h1>
          <p>Nağd</p>
          <p>Mikro</p>
          <p>İpoteka</p>
        </div>
        <div class="footer-card">
          <h1>Əmanətlər</h1>
          <p>Müddətli</p>
          <p>Proqressiv</p>
          <p>Yığım</p>
          <p>Faizlər əvvəlcədən</p>
        </div>
        <div class="footer-card">
          <h1>Köçürmələr</h1>
          <p>Ölkə xarici</p>
          <p>Ölkədaxili</p>
        </div>
        <div class="footer-card">
          <h1>Rəqəmsal bankçılıq</h1>
          <p>uBank</p>
          <p>İnternet bankçılıq</p>
          <p>Albalı şəxsi kabinet</p>
          <p>Unimiles şəxsi kabinet</p>
          <p>Onlayn kredit ödənişi</p>
          <p>Onlayn kredit müraciəti</p>
          <p>Albalı Plus mobil əlavəsi</p>
        </div>
        <div class="footer-card">
          <h1>Əlavə xidmətlər</h1>
          <p>Private Banking</p>
          <p>Hesablaşma-kassa xidmədi</p>
          <p>Depozit qutuları</p>
          <p>POS terminal / Smart kassa</p>
          <p>Onlayn ticarət (eCommerce)</p>
        </div>
      </div>
      <div class="footer-social">
        <ul>
          <li class="active-sosial">
            <a href="https://apps.apple.com/ru/app/unibank-mobile/id1073632425">
              <i class="fab fa-apple"></i>
            </a>
          </li>
          <li class="active-sosial">
            <a
              href="https://play.google.com/store/apps/details?id=az.unibank.mbanking"
            >
              <i class="fab fa-android"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/unibank.az">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com/unibank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/unibankazerbaijan/">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/UnibankBaku">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li><a href="https://www.instagram.com/user/unibank.az/">
            <i class="fab fa-instagram"></i>
          </a></li>
        </ul>
        
      </div>
      <div class="copright">
        <div class="copy">
          <span> &copy; 2020, Unibank - Hər kəsin bankı </span>
          <span>Bütün hüquqlar qorunur.</span>
        </div>
        
        <div class="copy-logo">
          <img src="..//static/img/logo3.png" width="75" height="70" alt="ADF">
          <img src="..//static/img/logo4.png" width="125" height="70" alt="eGov">
          <img src="..//static/img/logo5.png" width="115" height="60" alt="InfoBank">
          <img src="..//static/img/logo6.png" width="108" height="60" alt="Maliyyə Portalı">
        </div>

      </div>
    </footer>


    <!-- JS, Popper.js, and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="..//static/js/base.js"></script>

  </body>
</html>
