<!-- extends html area-->
{% extends 'layout.html'  %}    

    <!--block css -->
    {% block css %}

        <link rel="stylesheet" href="..//static/css/reset.css" />
        <link rel="stylesheet" href="..//static/css/main.css" />
    
    {% endblock %}
    
     <!--block title -->
    {% block title %}
    
         <title>Kredit / Unibank</title>
    
    {% endblock %}


      <!--block content area-->
    {% block content %}
    
   

    <section class="content-debet">

      <div class="card-nav">
        <ul class="card-nav--list">
          <li class="active-info "><a href="..//templates/debet.html">Debet</a></li>
          <li class="card-nav--active"><a href="#">Kredit</a></li>
          <li class="active-info"><a href="..//templates/more.html">Digər</a></li>
        </ul>
      </div>


      <div class="credit-card-header">
        <div class="credit-card-header--top">
          <div class="credit-card-images">
            <img src="..//static/img/credit-card.gif" alt="Albalı Kartlar">
          </div>
          <div class="credit-card-info">
            <h3>Albalı</h3>
            <p>
                Albalı - 4 bank məhsulunu (kredit, taksit kartı, depozit və debet kartı) özündə birləşdirən beynəlxalq kartdır.
            </p>
            <div class="credit-card--btn"> 
                <button class='order-btn'>Sifariş et</button>
                <a href="#">Ətraflı</a>
            </div>
          </div>
        </div>
        <div class="credit-card-header--bottom">
          <span > &nbsp; &nbsp; KARTIN ÜSTÜNLÜKLƏRİ &nbsp; &nbsp;  </span>
          <div class="credit-cards-skills">
            <div class="credit-card-skill">
                <i class="fas fa-arrow-down"></i>
                <p>Komissiyasız</p>
                <p>nağdlaşdırılma</p>
            </div>  
            
            <div class="credit-card-skill">
                <i class="fas fa-retweet"></i>
                <p>30%-dək</p>
                <p>cashback</p>
            </div>
             
            <div class="credit-card-skill">
                <i class="fas fa-percentage"></i>
                <p>Kartın qalığına</p> 
                <p> 3%-dək illik gəlir</p>
            </div>
            
            <div class="credit-card-skill">
                <i class="fas fa-mobile-alt"></i>
                <p>Pulsuz mobil</p> 
                <p>bankçılıq</p>
            </div>
              
          </div>
        </div>
      </div>
     
    </section>
  
    {% endblock %}









