<!-- extends html area-->
{% extends 'layout.html'  %}    

    <!--block css -->
    {% block css %}

        <link rel="stylesheet" href="..//static/css/reset.css" />
        <link rel="stylesheet" href="..//static/css/main.css" />
    
    {% endblock %}
    
     <!--block title -->
    {% block title %}
    
         <title>Debet / Unibank</title>
    
    {% endblock %}


      <!--block content area-->
    {% block content %}
    
      <section class="content-debet">

        <div class="card-nav">
          <ul class="card-nav--list">
            <li class="card-nav--active"><a href="#">Debet</a></li>
            <li class="active-info"><a href="..//templates/credit.html">Kredit</a></li>
            <li class="active-info"><a href="../templates/more.html">Digər</a></li>
          </ul>
        </div>
        <div class="card-header">
          <div class="card-header--top">
            <div class="card-images">
              <img src="..//static/img/card1.gif" alt="Albalı Kartlar">
            </div>
            <div class="card-info">
              <h3>Albalı Debet</h3>
              <p>
                Bu kartı əldə edərək dünyanın hər bir nöqtəsində rahat alış-veriş, onlayn ödənişlər et və ya rahat nağd pul çıxar. Həm Visa, həm MasterCard növündə sifariş et. 
              </p>
              <a href="#">Ətraflı</a>
            </div>
          </div>
          <div class="card-header--bottom">
            <span > &nbsp; &nbsp; KARTIN ÜSTÜNLÜKLƏRİ &nbsp; &nbsp;  </span>
            <div class="cards-skills">
                <div class="card-skill">
                  <i class="fas fa-retweet"></i>
                  <p>30%-dək</p>
                  <p>cashback</p>
                </div>
  
                <div class="card-skill">
                  <i class="fas fa-arrow-down"></i>
                  <p>Komissiyasız</p>
                  <p>nağdlaşdırılma</p>
                </div>
  
                <div class="card-skill">
                  <i class="fas fa-mobile-alt"></i>
                  <p>Pulsuz mobil</p> 
                  <p>bankçılıq</p>
                </div>
                <div class="card-skill">
                  <i class="fas fa-percentage"></i>
                  <p>Kartın qalığına</p> 
                  <p> 3%-dək illik gəlir</p>
                </div>
  
                
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="debet-card">
            <div class="debet-images">
              <img src="..//static/img/card3.jpg" alt="Albalı Kartlar">
            </div>
            <div class="debet-info">
              <h3>Visa Platinum</h3>
              <p>
                Bu kartla hər zaman və hər yerdə yüksək statusunu vurğula! Böyük imkanlar vədd edən kartı həyatının əvəzolunmaz bir hissəsinə çevir.
              </p>
              <a href="#">Ətraflı</a>
            </div>
          </div>
          <div class="debet-card">
            <div class="debet-images">
              <img src="..//static/img/card6.jpg" alt="Albalı Kartlar">
            </div>
            <div class="debet-info">
              <h3>Visa Infinite</h3>
              <p>
                Bu kartın sahibi olaraq, hər yerdə ən yaxşı xidmət və eksklüziv imkanlar səni gözləyir. Visa növündə olan bu kartdan olduqca fərqli faydalan.
              </p>
              <a href="#">Ətraflı</a>
            </div>
          </div>
  
          <div class="debet-card">
            <div class="debet-images">
              <img src="..//static/img/card2.gif" alt="Albalı Kartlar">
            </div>
            <div class="debet-info">
              <h3>Unimiles</h3>
              <p>
                Uçuşa hazır ol! UniMiles kartı ilə nağdsız ödənişlər et, millər topla və milləri istənilən hava yollarının aviabiletinə dəyiş.
              </p>
              <a href="#">Ətraflı</a>
            </div>
          </div>
          <div class="debet-card">
            <div class="debet-images">
              <img src="..//static/img/card4.jpg" alt="Albalı Kartlar">
            </div>
            <div class="debet-info">
              <h3>Mastercard Black Edition</h3>
              <p>
                Bu kartı əldə etməklə geniş səyahət, sığorta və xidmət imkanlarına malik olursan. Sənin yüksək statusunu MasterCard-ın ən nüfuzlu kartlarından biri vurğulayır!
              </p>
              <a href="#">Ətraflı</a>
            </div>
          </div>
  
          <div class="debet-card">
            <div class="debet-images">
              <img src="..//static/img/card5.jpg" alt="Albalı Kartlar">
            </div>
            <div class="debet-info">
              <h3>Mastercard World Elite</h3>
              <p>
                Dünyanın istənilən yerində eksklüziv imkanlar və yüksək xidmət səni gözləyir! Arzularını bu karta həvalə et!
              </p>
              <a href="#">Ətraflı</a>
            </div>
          </div>
  
         
        </div>
      </section>

    {% endblock %}



