<!-- extends html area-->
{% extends 'layout.html'  %}    

    <!--block css -->
    {% block css %}

        <link rel="stylesheet" href="..//static/css/reset.css" />
        <link rel="stylesheet" href="..//static/css/main.css" />
    
    {% endblock %}
    
     <!--block title -->
    {% block title %}
    
         <title>Digər / Unibank</title>
    
    {% endblock %}


      <!--block content area-->
    {% block content %}
    
      <section class="content-debet">

        <div class="card-nav">
          <ul class="card-nav--list">
            <li class="active-info "><a href="..//templates/debet.html">Debet</a></li>
            <li class="active-info "><a href="..//templates/credit.html">Kredit</a></li>
            <li class="card-nav--active"><a href="#">Digər</a></li>
          </ul>
        </div>
      
        <div class="more-card-body">
          <div class="more-debet-card">
            <div class="debet-images">
              <img src="..//static/img/more-card1.gif" alt="Albalı Kartlar">
            </div>
            <div class="debet-info">
              <h3>Albalı Gift</h3>
              <p>
                Albalı Gift-ən çox arzulanan hədiyyə! Albalı Gift kartını hədiyyə et!
              </p>

              <div class="credit-card--btn"> 
                <button class='more-order-btn'>Sifariş et</button>
                <a href="#">Ətraflı</a>
            </div>
          </div>
      
        </div>
          
        <div class="more-debet-card">
          <div class="debet-images">
            <img src="..//static/img/more-card2.png" alt="Albalı Kartlar">
          </div>
          <div class="debet-info">
            <h3>Digital card</h3>
            <p>
              Artıq kart sifarişi üçün banka gəlməyə ehtiyac yoxdur. Bu kart ilə hesab açmadan uBank-da, müxtəlif İnternet saytlarda bütün ödənişlərini rahatlıqla edə bilərsən.
            </p>
            <div class="credit-card--btn"> 
              <button class='more-order-btn'>Sifariş et</button>
              <a href="#">Ətraflı</a>
          </div>
          </div>
        </div>
      </section>
  
    {% endblock %}
















