<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/responsive.css">
  <link rel="stylesheet" href="../static/css/uBank.css">
  <link rel="stylesheet" href="../static/css/footer.css">

</head>

<body>
  <header id="bgimg" class="header-container mb-5">
    <div class="header">
      <div class="header-logo">
        <a href="#" class="logo">
          <img src="../static/image/logo7.png" alt="Logo-Unibank" />
        </a>
        <div class="user-selection">
          <a href="#">Fərdi</a>
          &nbsp; / &nbsp;
          <a href="#">Biznes</a>
        </div>
      </div>
      <div class="header-info">
        <a href="#" class="phone">
          <i class="fas fa-phone-alt"></i>
          117
        </a>
        <a href="#" class="info-bank">
          <i class="fas fa-sign-in-alt"></i>
          İnternet bankçılıq
        </a>
        <div class="ham-btn">
          <a class="navbar-toggler third-button" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent22" aria-controls="navbarSupportedContent22" aria-expanded="false"
            aria-label="Toggle navigation">
            <div class="animated-icon3"><span></span><span></span><span></span></div>
          </a>
        </div>

      </div>
    </div>
    <div></div>
    <!-- Navbar Area -->
    <nav class="navbar">
      <ul class="navbar-menu">
        <li><a href="../Serxan/templates/debet.html">Kartlar</a></li>
        <li><a href="../Kenan/template/kreditler.html">Kreditlər</a></li>
        <li><a href="../Ferhad/template/personinfo.html">Əmanətlər</a></li>
        <li><a href="">Köçürmələr</a></li>
        <li><a href="">Rəqəmsal bankçılıq</a></li>
        <li><a href="">Əlavə xidmətlər</a></li>
      </ul>

      <div class="lang btn-group">
        <a type="button" class="btn btn-white dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          aze
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">eng</a>
          <a class="dropdown-item" href="#">rus</a>
        </div>
      </div>

      <a type="button" class=" search " data-toggle="modal" data-target=".bd-example-modal-lg"><i
          class="fas fa-search"></i></a>

      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam exercitationem reiciendis repellat
            consequatur. Dolor ea vel assumenda rem magni, praesentium impedit cum facere vitae animi nam laudantium
            magnam. Tempora, adipisci.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum placeat in quo quis quidem dolore eius
            distinctio magni voluptatem deserunt quam eaque possimus, repudiandae animi? Quia commodi deleniti ad
            obcaecati.
          </div>
        </div>
      </div>

    </nav>
  </header>

  <div class="body-container ">
    <div class="row">
      <div class="card col-4 mt-5 ml-0 m-0 p-0 text-center d-none d-lg-block " style="max-width: 100%;">
        <div class="card-header text-center bg-white p-0 pr-3 "> Nağd kreditlər</div>
        <div class="card-body border-right">
          <h5 class="card-title text-cente p-0 pr-3">18%</h5>
          <p class="card-text text-center p-0 m-0 pr-3">
            -dən başlayaraq</p>
        </div>
        <div class="card-footer bg-white d-flex justify-content-between p-0 ml-3 ">
          <a class="" href=""> Sifariş et <i class="icon fas fa-angle-right  "></i> </a>

          <a class="justify-content-between text-secondary p-0 pr-5" href=""> Ətraflı </a>
        </div>
      </div>
      <div class="card col-4 mt-5 ml-0 m-0 pl-5 text-center d-none d-lg-block" style="max-width: 100%;">
        <div class="card-header text-center bg-white p-0 pr-3"> Əmanətlər</div>
        <div class="card-body border-right ">
          <h5 class="card-title text-cente p-0 pr-3">11%</h5>
          <p class="card-text text-center p-0 m-0 pr-3">
            -dək illik gəlir</p>
        </div>
        <div class="card-footer bg-white d-flex justify-content-between p-0 p ">
          <a class="" href=""> Sifariş et <i class="icon fas fa-angle-right  "></i> </a>

          <a class="justify-content-between text-secondary p-0 pr-4" href=""> Ətraflı </a>
        </div>
      </div>
      <div class="card col-4 mt-5 ml-0 m-0 p-0 text-center d-none d-lg-block " style="max-width: 100%;">
        <div class="card-header text-center bg-white p-0 pr-3 "> Plastik kartlar</div>
        <div class="card-body border-right">
          <h5 class="card-title text-cente p-0 pr-3">30%</h5>
          <p class="card-text text-center p-0 m-0 pr-3">
            -dən başlayaraq</p>
        </div>
        <div class="card-footer bg-white d-flex justify-content-center p-0 ml-3 ">
  

          <a class="justify-content-between text-secondary p-0 pr-5" href=""> Ətraflı </a>
        </div>
      </div>
      </div>
      <div class="md-card col-3 d-lg-none" style="width: 18rem;">
        <img class="md-img-top" src="../static/image/1515666567nagd-kredit.jpg" alt="Nağd kredit ">
        <div class="card-body " style="background:#fafafa;">
          <h5 class="md-title mb-3">Nağd kredit</h5>
          <p class="md-text">10 000 azn-dək nağd kredit alın. Zaminsiz və komissiyasız. 48 aya-dək.</p>
          <a href="#" class="etrafli btn btn-white mt-4 ">
            Ətraflı </a>
        </div>
      </div>
      <div class="md-card col-3 d-lg-none" style="width: 18rem;">
        <img class="md-img-top" src="../static/image/1515668605rec-deposit.jpg" alt="Müddətli depozit">
        <div class="card-body " style="background:#fafafa;">
          <h5 class="md-title mb-3">Müddətli depozit </h5>
          <p class="md-text">
            Gələcəyini təmin et! Əmanət hesabı aç və gəlir əldə et. </p>
          <a href="#" class="etrafli btn btn-white mt-4 ">
            Ətraflı </a>
        </div>
      </div>
      <div class="md-card col-3 d-lg-none" style="width: 18rem;">
        <img class="md-img-top" src="../static/image/1515670157rec-mikro.jpg" alt="Mikro kreditlər ">
        <div class="card-body " style="background:#fafafa;">
          <h5 class="md-title mb-3">Mikro kreditlər </h5>
          <p class="md-text">
            20 000 AZN-dək mikro kreditlər. Krediti götür və biznesini böyüt! </p>
          <a href="#" class="etrafli btn btn-white mt-4 ">
            Ətraflı </a>
        </div>
      </div>
      <div class="md-card col-3 d-lg-none" style="width: 18rem;">
        <img class="md-img-top" src="../static/image/1515670245rec-ipoteka.jpg" alt="
        İpoteka krediti ">
        <div class="card-body " style="background:#fafafa;">
          <h5 class="md-title mb-3"> İpoteka krediti </h5>
          <p class="md-text">

            Arzuladığın mənzil əlçatmaz deyil. İndi kredit götür və arzularını reallaşdır! </p>
          <a href="#" class="etrafli btn btn-white mt-4 ">
            Ətraflı </a>
        </div>
      </div>




    </div>
  </div>
  <div id="card-phone" class="d-none d-lg-block">
    <div class="container card-phone ">
      <div class="row">
        <div class="col-7 p-0 mt-5 d-flex justify-content-start ">
          <div class="mb-5">
            <div class="metn1 mb-3 ">
              <h1 style=font-size:58px;>uBank</h1>
              <div class="badges mt-4 d-flex aligin-items-center ">
                <img class='badge1' src="../static/image/google-play-badge.png" alt="">
                <img class='badge2' src="../static/image/appstore.png" alt="">
                <img class='badge3' src="../static/image/appGallery-en.png" alt="">
              </div>
            </div>
            <br>
            <div class="metn1-5 mb-4 ">
              <h5 style=font-size:24px;>uBank 24/7 bank xidmətlərinə çıxışınızı smartfonunuzda təmin edən mobil
                əlavədir.
                Ödənişlərinizi banka gəlmədən, telefonunuzda bir toxunuşla həyata keçirin!</h5>
            </div>
            <div class=" about btn d-felx p-0">
              <a href="" class="link1 m-0 ">Haqqında </a>
              <a href="" class="link1 m-0">Tariflər </a>
              <a href="" class="link1 m-0">Bonus və hədiyyələr</a>

            </div>

          </div>
        </div>
        <div class="col-5 mt-5 p-0 pr-5">
          <div class="img p-0 ">
            <img class="image1 p-0 m-0" src="../static/image/phone.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5" style="max-width: 71%;">
    <div class="row">
      <div class="col-xl-4 md-12  p-0 m-0 d-felx justify-content-between">
        <div>
          <p class="e-header">Nağd valyuta məzənnələri
          </p>
          <p class="e-date">Yeniləndi 28.10.2020</p>
        </div>
        <table class="table flex-column aligin-items-end p-0 ">
          <thead class="">
            <tr>
              <th class="pl-0 " scope="col">Valyuta</th>
              <th class="pl-0 " scope="col">Alış</th>
              <th class="pl-0" scope="col">Satış</th>
            </tr>
          </thead>
          <tbody c>
            <tr>
              <th class="pl-0" scope="row">USD</th>
              <td class="pl-0">1.7000 <i class="icon fas fa-angle-down icon-color-orange"></i> </td>
              <td class="pl-0">1.7025 <i class="icon fas fa-angle-down icon-color-orange"></i></td>
            </tr>
            <tr>
              <th class="pl-0" scope="row">EUR</th>
              <td class="pl-0">1.9795 <i class="icon fas fa-angle-down icon-color-orange"></i>
              <td class="pl-0">2.0325 <i class="icon fas fa-angle-down icon-color-orange"></i> </td>
            </tr>
            <tr>
              <th class="pl-0" scope="row">RUB</th>
              <td class="pl-0">0.0201 <i class="icon fas fa-angle-down icon-color-orange"></i></td>
              <td class="pl-0">0.0224 <i class="icon fas fa-angle-down icon-color-orange"></i></td>
            </tr>
            <tr>
              <th class="pl-0" scope="row">GBP</th>
              <td class="pl-0">2.1816 <i class="icon fas fa-angle-down icon-color-orange"></i></td>
              <td class="pl-0">2.2592 <i class="icon fas fa-angle-down icon-color-orange"></i></td>
            </tr>
          </tbody>

        </table >
        <div class="e-footer border-top// ">
          <a href=""> Depozit qutuları</a>
          <a href=""> Hesablaşma-kassa xidməti</a>

        </div>
      </div>
      <div class="col-4 pl-5 p-0 m-0 d-felx justify-content-between pb-5 d-none d-lg-block">
        <div>
          <p class="e-header">Nağdsız valyuta məzənnələri
          </p>
          <p class="e-date">Yeniləndi 28.10.2020</p>
        </div>
        <table class="table flex-column aligin-items-end p-0 ">
          <thead class="">
            <tr>
              <th class="pl-0 " scope="col">Valyuta</th>
              <th class="pl-0 " scope="col">Alış</th>
              <th class="pl-0" scope="col">Satış</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="pl-0" scope="row">USD</th>
              <td class="pl-0">1.6800 <i class="icon fas fa-angle-down icon-color-orange"></i> </td>
              <td class="pl-0">1.7025 <i class="icon fas fa-angle-down icon-color-orange"></i></td>
            </tr>
            <tr>
              <th class="pl-0" scope="row">EUR</th>
              <td class="pl-0">1.9805 <i class="icon fas fa-angle-down icon-color-orange"></i>
              <td class="pl-0">2.0335 <i class="icon fas fa-angle-down icon-color-orange"></i> </td>
            </tr>
            <tr>
              <th class="pl-0" scope="row">RUB</th>
              <td class="pl-0">0.0211 <i class="icon fas fa-angle-down icon-color-orange"></i></td>
              <td class="pl-0">0.0230 <i class="icon fas fa-angle-down icon-color-orange"></i></td>
            </tr>
            <tr>
              <th class="pl-0" scope="row">GBP</th>
              <td class="pl-0">2.1772 <i class="icon fas fa-angle-down icon-color-orange"></i></td>
              <td class="pl-0">2.2603 <i class="icon fas fa-angle-down icon-color-orange"></i></td>
            </tr>
          </tbody>

        </table>
        <div class="e-footer">
          <a href=""> Internet bankçılıq</a>
          <a href=""> uBank</a>

        </div>
      </div>
      <div class="col-4 pl-5 p-0 m-0 d-felx justify-content-between pb-5 d-none d-lg-block b">
        <div>
          <p class="e-header">Valyuta kalkulyatoru
          </p>
          <p class="e-date">Nağd məzənnə əsasında hesablanır</p>
        </div>
        <div class="currency">
          <input class="input" type="number" id="from_ammount" placeholder="0" value=0 />
          <select id="from_currency">
            <option value="AZN" selected>AZN</option>
            <option value="RUB">RUB</option>
            <option value="GBP">GBP</option>
            <option value="USD">USD</option>
          </select>
        </div>
        <div class="currency">
          <input class="input" type="number" id="from_ammount" placeholder="0" value=0 />
          <select id="from_currency">
            <option value="USD" selected>USD</option>
            <option value="RUB">RUB</option>
            <option value="GBP">GBP</option>
            <option value="USD">AZN</option>
          </select>
        </div>
        <div class="e-footer mt-5">
          <a href=""> Xidmət şəbəkəsi</a>
          <a href=""> Köçürmələr</a>

        </div>
      </div>

    </div>
  </div>

  <div id="magazin" class="">
    <div class="container basliq">
      <div class="row">
        <div class="d-flex justify-content-between ml-0 m-0 basliq xeberler">
          <h2 class=""> Xəbərlər və aksiyalar</h2>
          <a href="" class="link-right d-none d-lg-block"> Bütün xəbərlər</a>
        </div>

      </div>
      <hr class="text-secondary m-5">
    </div>
    <div class="container magazin ">
      <div class="row">
        <div class="col-xl-4 md -12 d-flex justify-content-between p-0 mt-5 mb-5">
          <div class="col-3 p-0 ">
            <p class="p-0 xeber-data d-none d-lg-block">23.09.2020</p>
          </div>
          <div class="col-9 p-0 pr-5">
            <a href="" class="xeber-basliq">Unibank kart məlumatlarının təhlükəsizliyi ilə bağlı maarifləndirici video
              çarx hazırlayıb</a>
            <p class="mt-4 xeber mb-3">
              “Unibank”ın maarifləndirici çarxında günlük həyatımızdan götürülmüş sadə dialoqla, bir qədər də
              zarafatyana formada insanlara kart məlumatlarının kimləsə paylaşmağın nə qədər ciddi fəsadlara səbəb
              olacağı çatdırılır. </p>
            <p class="p-0 xeber-data d-lg-none">23.09.2020</p>
          </div>
        </div>
        <div class="col-xl-4 md -12 d-flex justify-content-between p-0 mt-5 mb-5">
          <div class="col-3 p-0 ">
            <p class="p-0 xeber-data d-none d-lg-block">10.09.2020</p>
          </div>
          <div class="col-9 p-0 pr-5">
            <a href="" class="xeber-basliq">Unibankdan müəllim və həkimlər üçün xüsusi təklif- 4% endirimli kredit</a>
            <p class="mt-4 xeber mb-3">İndi “Unibank”dan kredit götürən bütün təhsil və səhiyyə işçiləri krediti illik
              faiz dərəcəsindən 4% daha aşağı faizlə rəsmiləşdirəcəklər.</p>
            <p class="p-0 xeber-data d-lg-none">10.09.2020</p>
          </div>
        </div>
        <div class="col-xl-4 md -12 d-flex justify-content-between p-0 mt-5 mb-5">
          <div class="col-3 p-0 ">
            <p class="p-0 xeber-data d-none d-lg-block">24.08.2020</p>
          </div>
          <div class="col-9 p-0 pr-5">
            <a href="" class="xeber-basliq">Unibank hər kəs üçün 0% komissiyalı kredit kampaniyası keçirir</a>
            <p class="mt-4 xeber mb-3">Avqustun 25-dən başlayan hər kəs üçün 0% komissiyalı kredit kampaniyası aylardır
              təxirə saldığınız planlarınızı həyata keçirmək üçün əsl fürsətdir.</p>
            <p class="p-0 xeber-data d-lg-none">24.08.2020</p>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="online-chat">
    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample"><i class="fab fa-facebook-messenger"></i></a>

  </div>
  <div class="collapse collapseform" id="collapseExample">
    <div class="card card-body collapseformCard ">
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput" class="text-font">Adınız</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ad">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput" class="text-font">Soyadınız</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Soyad">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" class="text-font">Email addresiniz</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Email adres">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1" class="text-font">Mesajınız</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Təsdiqləyirəm</label>
        </div>
        <button type="submit" class="btn mt-2 btn-light text-unibank">Göndər</button>
      </form>
    </div>
  </div>
  <footer class="footer-container">
    <div class="footer-menu">
      <div class="footer-card">
        <h1>Kartlar</h1>
        <p>Debet</p>
        <p>Kredit</p>
        <p>Digər</p>
      </div>
      <div class="footer-card">
        <h1>Kreditlər</h1>
        <p>Nağd</p>
        <p>Mikro</p>
        <p>İpoteka</p>
      </div>
      <div class="footer-card">
        <h1>Əmanətlər</h1>
        <p>Müddətli</p>
        <p>Proqressiv</p>
        <p>Yığım</p>
        <p>Faizlər əvvəlcədən</p>
      </div>
      <div class="footer-card">
        <h1>Köçürmələr</h1>
        <p>Ölkə xarici</p>
        <p>Ölkədaxili</p>
      </div>
      <div class="footer-card">
        <h1>Rəqəmsal bankçılıq</h1>
        <p>uBank</p>
        <p>İnternet bankçılıq</p>
        <p>Albalı şəxsi kabinet</p>
        <p>Unimiles şəxsi kabinet</p>
        <p>Onlayn kredit ödənişi</p>
        <p>Onlayn kredit müraciəti</p>
        <p>Albalı Plus mobil əlavəsi</p>
      </div>
      <div class="footer-card">
        <h1>Əlavə xidmətlər</h1>
        <p>Private Banking</p>
        <p>Hesablaşma-kassa xidmədi</p>
        <p>Depozit qutuları</p>
        <p>POS terminal / Smart kassa</p>
        <p>Onlayn ticarət (eCommerce)</p>
      </div>
    </div>
    <div class="footer-social ">
      <ul>
        <li class="active-sosial">
          <a href="https://apps.apple.com/ru/app/unibank-mobile/id1073632425">
            <i class="fab fa-apple"></i>
          </a>
        </li>
        <li class="active-sosial">
          <a href="https://play.google.com/store/apps/details?id=az.unibank.mbanking">
            <i class="fab fa-android"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/unibank.az">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com/unibank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/unibankazerbaijan/">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/UnibankBaku">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        <li><a href="https://www.instagram.com/user/unibank.az/">
            <i class="fab fa-instagram"></i>
          </a></li>
      </ul>

    </div>
    <div class="copright mt-5 pt-3">
      <div class="copy">
        <span> &copy; 2020, Unibank - Hər kəsin bankı </span>
        <spa>Bütün hüquqlar qorunur.</span>
      </div>

      <div class="copy-logo ">
        <img src="../static/image/logo3.png" width="75" height="70" alt="ADF">
        <img src="../static/image/logo4.png" width="125" height="70" alt="eGov">
        <img src="../static//image/logo5.png" width="115" height="60" alt="InfoBank">
        <img src="../static//image/logo6.png" width="108" height="60" alt="Maliyyə Portalı">
      </div>

    </div>
  </footer>

  <script src="../static/js/exchange.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
</body>

</html>