.container1{
display: flex;

}



body{
    margin: 0;
    padding: 0;
   
}

.container{
width:99%; 
padding: 10px;

}

.person-content{
    display: flex;
    width: 75%;
    margin: 0 auto;
    height:325px;
    background-color: white                                                         ;
    
}

.content-info{
    width: 80%;
    
}
.content-img{
    width: 20%;
    padding: 5px;
    
}
h1{
    font-family: source sans pro,Arial;
    font-weight: 400;
    font-size: 250px;
    color: #ff6b00;
    line-height: 61px;
    margin-bottom: 52px;
}a

body,p{
margin: 0;
    
}
p{
    font-family: source sans pro,Arial;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #5a6771;
    margin-bottom: 42px;
    padding-top: 30px;
}                                                                                                                                                                                                                                                                                                                           
a{
height: 30px;
font-weight: 200px;
}